@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{
    var signatureImage = Model?.Value<IPublishedContent>("aboutUsSignatureImage")?.Url() ?? "";
}

<div class="container">
	<div class="left-side">
		<h6>@Model.Value("aboutUsSectionTitle")</h6>
		<h2>@Model.Value("aboutUsHeadline")</h2>
		<p>@Model.Value("aboutUsQuotes")</p>
		<p>@Model.Value("aboutUsText")</p>
		<img src="@signatureImage" alt="@Model.Value("aboutUsSignature")">
		<p>@Model.Value("aboutUsSignature")</p>
	</div>
	<form class="right-side">
		<h5 class="bg-primary">Request a call back</h5>
		<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat</p>
		<input type="text" placeholder="Name">
		<input type="text" placeholder="Email address">
		<input type="text" placeholder="Phone">
		<select name="" id="">
			<option value="">Financial consulting</option>
			<option value="">2</option>
			<option value="">3</option>
		</select>
		<button class="btn-accent">Submit</button>
	</form>
</div>