@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
	var selection = Umbraco.Content(Guid.Parse("dbc7579e-ba9d-40d7-a9bd-ca652da8b24f"))
    .ChildrenOfType("projectsItemTemplate")
    .Where(x => x.IsVisible());
}

<div class="container">
	<h6>@Model?.Value("ourProjectsSectionTitle")</h6>
	<h2>@Model?.Value("ourProjectsHeadline")</h2>
</div>

<div class="our-projects-cards" id="projects-cards_home">
	@if (selection != null && selection.Any())
	{
		foreach (var item in selection)
		{
			var imageUrl = item?.Value<IPublishedContent>("thumbnailImageLarge")?.Url() ?? "";
			var cardSubheadline = item?.Value<string>("cardSubheadline") ?? "";
				<a href="@item.Url()" class="projectCard_link">
					<div class="our-projects-card">
						<!-- Bild -->
						<img src="@imageUrl" alt="@item.Name()" class="projectCard_img"/>

						<!-- Text -->
						<div class="our-projects-text">
							<h5 class=" our-projects-headline">@item.Name()</h5>
							<p class=" our-projects-subHeadline">@cardSubheadline</p>
						</div>
					</div>
				</a>			
		}
	}
	else
	{
		<p>No projects found.</p>
	}
</div>



