@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;

@{

	// var ourStoryImage = Model?.Value<IPublishedContent>("ourStoryImage")?.Url() ?? "";

	var servicesCards = Model?.Value<IEnumerable<BlockListItem>>("ourServicesCards");
	bool hasServices = servicesCards != null && servicesCards.Any();
}

<div class="container">
	<h6>@Model.Value("ourServicesSectionTitle")</h6>
	<h2>@Model.Value("ourServicesHeadline")</h2>
	<div class="our-services-cards">
		@if (hasServices)
		{
			foreach (var card in servicesCards)
			{

				var service = (ContentModels.OurServiceCard)card.Content; // Kontrollera alias och innehåll

				var imageUrl = service.Value<IPublishedContent>("image")?.Url() ?? "";

				var title = service.Value<string>("title");

				var description = service.Value<string>("description");

				<div class="our-services-card">
					<h4 class="bg-light">@title</h4>
					<img src="@imageUrl" alt="@title" />
					<p class="bg-light">@description</p>
				</div>

			}
		}
		else
		{
			<p>No services found.</p>
		}
	</div>
</div>