<!-- dessa för att kunna hämta ut från Settings -->
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    //hämtar roten i trädstrukturen
    var rootContent = UmbracoHelper.ContentAtRoot();
    // söker i rotcontent efter settings page
    var settings = rootContent?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var sideBarImage = settings?.Value<IPublishedContent>("sideBarImage")?.Url() ?? null;
    var headline = settings?.Value<string>("sideBarHeadline") ?? null;
    var sideBarText = settings?.Value<string>("sideBarText") ?? null;
    var formHeadline = settings?.Value<string>("formHeadline") ?? null;
    var formText = settings?.Value<string>("formText") ?? null;
    var formPlaceholder = settings?.Value<string>("formPlaceholder") ?? null;
}

<div class="left-side">
    <h4>@headline</h4>
    <div class="service-details-card">
        <img src="@sideBarImage" alt="">
        <p>@sideBarText</p>
    </div>
    <div class="service-details-online-support bg-primary">
        <h4>@formHeadline</h4>
        <p>@formText</p>
        <input type="text" placeholder="@formPlaceholder">
        <i class="fa-regular fa-envelope"></i>
    </div>
</div>

